integration-with-setup-and-teardown/.idea/workspace.xml
integration-with-setup-and-teardown/.idea/encodings.xml
integration-with-setup-and-teardown/.idea/misc.xml
integration-with-setup-and-teardown/.idea/vcs.xml
